<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:include="/task/menu :: menu"></th:block>
</head>
<body>
    <h1>Task List</h1>

    <table>
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Priority</td>
            <td>Done</td>

        </thead>

        <tbody>
            <form th:action="@{check}" method="post">
                <tr th:each="task : ${taskList}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.category}"></td>
                    <td th:text="${task.priority}"></td>
                    <td> <input type="checkbox" name="isDone"/></td>
                    <td><input type="submit" value="Submit"/></td>
                    <!--<tr th:each="subTask : ${task.subTasksBank}">-->

                    <tr th:each="subTask : ${task.subTasksBank}" >
                        <td th:text="${subTask.name}" align="center"></td>
                        <td th:text="${subTask.done}"></td>
                        <td><input type="checkbox" name="alltaskdone"/></td>
                        <td ${alltaskdone}+=${subTask.done}"></td>

                    </tr>
                        <td><input type="submit" name="${task}" value="OK"/></td>


                </tr>

            </form>

        </tbody>




    </table>






</body>
</html>