<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:include="/task/menu :: menu"></th:block>
</head>
<body>
    <form th:action="@{addTask}" method="post">
        <input type="hidden" name="id"/>
        <input type="text" placeholder="Name" name="name"/>
        <textarea name="description"  placeholder="Description"></textarea>

        <select th:action="@{getCategories}" name="category">
            <option value="None" selected="">Category</option>
            <option value="Fun">Fun</option>
            <option value="Health">Health</option>
            <option th:each="item : ${allCategories}" th:text="${item}"></option>
        </select>

        <select name="bankName">
            <option th:each="bank : ${bankNames}" th:text="${bank.name}"></option>
        </select>

        <select name="priority">
            <option value="None" selected="">Priority</option>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
        </select>

        <input type="text" name="subTaskList" th:each="index : ${#numbers.sequence(1,3)}" placeholder="SubTask"/>

        <input type="submit" value="Submit"/>


    </form>
</body>
</html>