<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:include="/task/menu :: menu"></th:block>
</head>
<body>
    <h1>Task List</h1>

    <table>
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Priority</td>
            <td>Done</td>
        </thead>

        <tbody>
            <tr th:each="task : ${taskList}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.category}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.done}"></td>

            </tr>



        </tbody>




    </table>






</body>
</html>